/demo.py
/安装包
/001.安装python与配置
/002.人工智能/worspace/month04/data_test
/002.Artificial_Intelligence/worspace/month04/data_test
/002.Artificial_Intelligence/第四阶段/DeepLearning/dataset
/002.Artificial_Intelligence/第四阶段/DeepLearning/code/img
/002.Artificial_Intelligence/worspace/month04/data
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/dataset
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/反向传播过程/mmg
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/003.推荐算法/recommend_PDF
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/004.Tensorflow/04_AID_Deeplearning_Tensorflow_base.pdf
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/004.Tensorflow/05_AID_Deeplearning_Tensorflow_img_classify.pdf
/002.Artificial_Intelligence/worspace/month04/deep_learning/summary
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/004.Tensorflow/999_AID_Deeplearning_Tensorflow_base.pdf
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/004.Tensorflow/999_AID_Deeplearning_Tensorflow_img_classify.pdf
/002.Artificial_Intelligence/worspace/month04/model
