/demo.py
/安装包
/001.安装python与配置
/002.人工智能/worspace/month04/data_test
/002.Artificial_Intelligence/worspace/month04/data_test
/002.Artificial_Intelligence/第四阶段/DeepLearning/dataset
/002.Artificial_Intelligence/第四阶段/DeepLearning/code/img
/002.Artificial_Intelligence/worspace/month04/data
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/dataset
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/反向传播过程/mmg
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/003.推荐算法/recommend_PDF
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/004.Tensorflow/04_AID_Deeplearning_Tensorflow_base.pdf
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/004.Tensorflow/05_AID_Deeplearning_Tensorflow_img_classify.pdf
/002.Artificial_Intelligence/worspace/month04/deep_learning/summary
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/004.Tensorflow/999_AID_Deeplearning_Tensorflow_base.pdf
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/004.Tensorflow/999_AID_Deeplearning_Tensorflow_img_classify.pdf
/002.Artificial_Intelligence/worspace/month04/model
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/005.paddlepaddle/999_06_AID_Deeplearning_paddlepaddle_base.pdf
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/005.paddlepaddle/999_07_AID_Deeplearning_paddlepaddle_image_classify.pdf
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/005.paddlepaddle/999_08_AID_Deeplearning_paddlepaddle_NLP.pdf
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/005.paddlepaddle/999_09_AID_Deeplearning_paddlepaddle_advance.pdf
/002.Artificial_Intelligence/worspace/month04/deep_learning/day_19/image/ranges.png
/002.Artificial_Intelligence/worspace/month04/deep_learning/day_19/train.png
/002.Artificial_Intelligence/worspace/month04/fruits
/002.Artificial_Intelligence/第四阶段/003.高级阶段/CV_advance.zip
/002.Artificial_Intelligence/第四阶段/003.高级阶段/CV_advance
/002.Artificial_Intelligence/worspace/month04/MagneticTile
/002.Artificial_Intelligence/worspace/month04/*.zip
/002.Artificial_Intelligence/worspace/month04/deep_learning/day_20/__pycache__/*.pyc
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/006.tile/CV_advance.zip
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/006.tile/MagneticTile.zip
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/006.tile/tile_server.zip
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/007.deploy/tile_server.zip
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/007.deploy/tile_server
/002.Artificial_Intelligence/worspace/month04/deep_learning/day_20/tile_server
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/008.ObjectDetection/CV_advance.zip
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/008.ObjectDetection/CV_advance
/002.Artificial_Intelligence/worspace/month04/deep_learning/day_20/labelImg-master
/002.Artificial_Intelligence/worspace/month04/deep_learning/day_20/football
/002.Artificial_Intelligence/worspace/month04/deep_learning/day_23/lslm
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/CV_advance.zip
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/CV_advance
/002.Artificial_Intelligence/worspace/month04/deep_learning/day_24/DeepLab3_plus
/002.Artificial_Intelligence/worspace/month04/deep_learning/day_24/DeepLab3_plus.zip
/002.Artificial_Intelligence/worspace/month04/deep_learning/day_24/facenet_distance.zip
/002.Artificial_Intelligence/worspace/month04/deep_learning/day_24/facenet_distance
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/010.OCR/000.第三方/paddle_hub_ocr.zip
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/010.OCR/000.第三方/paddle_hub_ocr
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/011.NLP/NLP_DATA
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/011.NLP/NLP_src
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/011.NLP/NLP.zip
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/011.NLP/NLP_DATA.zip
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/011.NLP/NLP_src.zip
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/011.NLP/NLP
/002.Artificial_Intelligence/worspace/month04/deep_learning/day_26/day26.zip
/002.Artificial_Intelligence/worspace/month04/deep_learning/day_26/day26
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/011.NLP/kw_extract_data
/002.Artificial_Intelligence/第四阶段/002.DeepLearning/011.NLP/kw_extract_data.zip
/002.Artificial_Intelligence/worspace/month04/deep_learning/day_27/kw_extract_data
/002.Artificial_Intelligence/worspace/month04/deep_learning/day_27/kw_extract_data.zip
/002.Artificial_Intelligence/worspace/month04/deep_learning/day_27/spam_data.zip
/002.Artificial_Intelligence/worspace/month04/deep_learning/day_27/spam_data
/002.Artificial_Intelligence/worspace/month04/deep_learning/day_28/news_classify_data.zip
/002.Artificial_Intelligence/worspace/month04/deep_learning/day_28/news_classify_data
/002.Artificial_Intelligence/worspace/month04/deep_learning/day_28/news_classify
/002.Artificial_Intelligence/002.machine_learning/workspace_002.machine_learning/data_test
/002.Artificial_Intelligence/005.recommend/workspace_005.recommend/data_test/movielens电影数据
/002.Artificial_Intelligence/006.tensorflow/workspace_006.tensorflow/summary
